@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(images/pattern-background-desktop.svg) hsl(225, 100%, 94%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    font-family: "Red Hat Display";
}
section {
    background: white;
    width: 450px;
    margin: 80px auto;
    height: 620px;
    border-radius: 15px;
}
.content {
    display: block;
    text-align: center;
}
.image img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.order h1 {
    padding: 20px 0px;
    font-weight: 900;
    font-size: 25px;
}
.order h2 {
    width: 70%;
    margin: auto;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
    padding-bottom: 20px;
}
.plan {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin: 0px 70px;
    background: hsl(225, 100%, 98%);
    border-radius: 15px;
}
.change p {
    text-decoration: underline;
    font-weight: 700;   
    padding-top: 20px;
    color: hsl(245, 75%, 52%);
    cursor: pointer;
}
.change p:hover {
    color: hsl(224, 23%, 55%);
}
.package {
    display: inline-flex;
}
.package-type {
    padding:0px 0px 0px 10px;
}
.package-type h4 {
    font-size: 15px;
    font-weight: 700;
    padding: 0 0 5px 0;
}
.package-type p {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}
.payment button {
    cursor: pointer;
    margin-top: 20px;
    font-size: 12px;
    width: 300px;
    height: 40px;
    background: hsl(245, 75%, 52%);
    color:#fff;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    box-shadow:0 5px 10px 0 hsl(224, 23%, 55%);
}
.payment button:hover {
    background: hsl(245, 75%, 52%);
    opacity: 0.7;
}
.cancel button {
    cursor: pointer;
    margin-top: 20px;
    border: none;
    font-size: 12px;
    width: 300px;
    height: 30px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    background-color: white;
}
.cancel button:hover {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 500px) {
    section {
        background: white;
        width: 310px;
        height: 550px;
    }
    .image img{
        height: 150px;
    }
    .order h2 {
        width: 80%;
    }
    .plan {
        padding: 15px 20px;
        margin: 0px 20px;
    }
    .package-type p {
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        color: hsl(224, 23%, 55%);
    }
    .payment button {
        cursor: pointer;
        margin-top: 30px;
        font-size: 14px;
        width: 270px;
    }
    .payment button:hover {
        background: hsl(245, 75%, 52%);
        opacity: 0.7;
    }
    .cancel button {
        padding-top: 10px;
        font-size: 14px;
        width: 270px;
    }
}
