@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "poppins";
}

section {
    padding-bottom: 50px;
}

.heading {
    text-align: center;
}

.heading h1 {
    padding: 70px 0px 20px 0px;
    font-weight: 200;
    font-size: 45px;
    color: hsl(234, 12%, 34%);
} 

.heading h1 span {
    font-weight: 500;
    font-size: 46px;
    color: hsl(234, 12%, 34%);
}

.heading h2 {
    font-weight: 500;
    font-size: 20px;
    color: hsl(229, 6%, 66%);
    width: 45%;
    margin: auto;
}

.box {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.col {
    padding: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.col.one {
    border-top: 5px solid hsl(180, 62%, 55%);
    background: hsl(0, 0%, 98%);
    box-sizing: border-box;
    box-shadow: 0px 5px 20px 0px hsl(234, 6%, 66%);
    height: 250px;
    margin: 170px 20px 0px 5px;
}

.col.two-one {
    border-top: 5px solid hsl(0, 78%, 62%);
    background: hsl(0, 0%, 98%);
    margin-bottom: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 1px hsl(234, 6%, 66%);
    height: 250px;
}

.col.two-two {
    border-top: 5px solid hsl(34, 97%, 64%);
    background: hsl(0, 0%, 98%);
    box-sizing: border-box;
    box-shadow: 0px 5px 20px 0 hsl(234, 6%, 66%);
    height: 250px;
}


.col.three {
    border-top: 5px solid hsl(212, 86%, 64%);
    background: hsl(0, 0%, 98%);
    box-sizing: border-box;
    box-shadow: 0px 5px 20px 0 hsl(234, 6%, 66%);
    height: 250px;
    margin: 170px 5px 0px 20px;
}

.col h3{
    font-weight: 600;
    padding: 0px 0px 10px 0px;
    font-size: 20px;
}

.col p{
    color: hsl(229, 6%, 66%);
    line-height: 22px;
    font-size: 14px;
}

.col img{
    padding: 50px 0px 10px 200px;
    margin-left: 40px;
}

@media (max-width:800px) {
    .heading h1 {
        padding: 40px 0px 20px 0px;
        font-size: 36px;
    } 
    
    .heading h1 span {
        font-size: 36px;
    }
    
    .heading h2 {
        font-size: 14px;
    }

    .box {
        flex-direction: column;
        padding-top: 0px;
    }

    col {
        padding: 0px;   
    }
    .col.one {
        width: 350px;
        margin: 30px auto 10px auto;
    }
    
    .col.two-one {
        width: 350px;
        margin: 0px auto 0px auto;
    }
    
    .col.two-two {
        width: 350px;
        margin: 40px auto 0px auto;
    }
    
    .col.three {
        width: 350px;
        margin: 10px auto 0px auto;
    }
    
    .col h3{
        font-weight: 600;
        padding: 0px 0px 10px 0px;
        font-size: 20px;
    }
    
    .col p{
        color: hsl(229, 6%, 66%);
        line-height: 22px;
    }
    
    .col img{
        padding: 40px 0px 10px 200px;
        margin-left: 22px ;
    }
}


@media (max-width:500px) {
    .heading h1 {
        padding: 40px 0px 20px 0px;
        font-size: 28px;
    } 
    
    .heading h1 span {
        font-size: 28px;
    }
    
    .heading h2 {
        font-size: 13px;
        width: 70%;
    }  
    .col.one {
        width: 320px;
        margin: 30px auto 10px auto;
    }
    
    .col.two-one {
        width: 320px;
        margin: 0px auto 0px auto;
    }
    
    .col.two-two {
        width: 320px;
        margin: 40px auto 0px auto;
    }
    
    .col.three {
        width: 320px;
        margin: 10px auto 0px auto;
    }
    
    .col h3{
        font-weight: 600;
        padding: 0px 0px 10px 0px;
        font-size: 18px;
    }
    
    .col p{
        color: hsl(229, 6%, 66%);
        line-height: 22px;
        font-size: 12px;
    }
    
    .col img{
        padding: 40px 0px 10px 200px;
        margin-left: -8px ;
    }
}


@media (max-width: 400px) {
    .heading h1 {
        padding: 40px 0px 20px 0px;
        font-size: 24px;
    } 
    
    .heading h1 span {
        font-size: 24px;
    }
    
    .heading h2 {
        font-size: 12px;
        width: 75%;
    }  
    .col.one {
        width: 300px;
        margin: 30px auto 10px auto;
    }
    
    .col.two-one {
        width: 300px;
        margin: 0px auto 0px auto;
    }
    
    .col.two-two {
        width: 300px;
        margin: 40px auto 0px auto;
    }
    
    .col.three {
        width: 300px;
        margin: 10px auto 0px auto;
    }
    
    .col h3{
        font-weight: 600;
        padding: 0px 0px 5px 0px;
        font-size: 15px;
    }
    
    .col p{
        color: hsl(229, 6%, 66%);
        line-height: 22px;
        font-size: 12px;
    }
    
    .col img{
        padding: 40px 0px 10px 200px;
        margin-left: -25px ;
    }
}
